$error-color: #ff0079;
$lateral-dashboard-background-color: linear-gradient(138deg, #45f2b7, #4396ff);
$lateral-dashboard-profile-background-color: linear-gradient(138deg, #4223ae, #ff0079);

$h2-color: #fff;
$open-button-color: #fff;


$arrow-color: #3D1980;

$profile-color: $arrow-color;